@model IEnumerable<LoanManagementSystem.Models.UserAccount>

@{
    ViewData["Title"] = "Users";
    ViewBag.UsersActive = "active";
}

<h1>Users</h1>

<p>
    <a asp-action="CreateUsers" class="btn btn-info">Create New</a>
</p>
<table class="table table-responsive table-striped table-hover w-100 border-0">
    <thead  class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th>
                User Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="w-50">
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>
                <td class="w-25">
                    @{
                        if (item.IsAdmin == true)
                        {
                            <p>Administrator</p>
                        }
                        else
                        {
                            <p>Customer</p>
                        }
                    }

                </td>
                <td>
                    <a asp-action="EditUsers" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="DeleteUsers" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-circle-trash">&nbsp;</i>Delete</a>
                </td>
            </tr>
        }
         @{
            if (Model.Count() == 0)
            {
            <tr>
                <td class="w-50" colspan="2">Empty Database</td>
                <td class="w-50"></td>

            </tr>
        }

        }
    </tbody>
</table>
